.searchResults {
  display: flex;
  flex-flow: column;
  margin-top: 5px;
  background-color: white;
  border: 1px solid lightgray;
  max-height: 100px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.searchResults::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
