.search {
  display: flex;
  flex-flow: column;
  padding: 5px;
  width: 200px;
}

.search__input {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
}

.search__input > form {
  display: flex;
  width: 100%;
}

.search__input > form > input {
  border: none;
  flex: 1;
  outline: none;
}

.search__input > form > button {
  background: none;
  border: none;
}
.search__input > form > button::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
}
.search__input > form > button.search__active::after {
  transform: rotate(135deg);
  margin-bottom: 5px;
}
