.search {
  display: flex;
  flex-flow: column;
  padding: 5px;
}

.search__input {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.search__input > form {
  display: flex;
  width: 100%;
}

.search__input > form > input {
  border: none;
  flex: 1;
  outline: none;
}

.search__input > form > button {
  display: none;
}
