.searchResult {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.searchResult:last-child {
  border-bottom: none;
}

.searchResult__avatar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: orange;
}

.searchResult:nth-child(odd) .searchResult__avatar {
  background-color: cadetblue;
}

.searchResult__avatar > p {
  color: white;
}

.searchResult__info > h2 {
  font-size: 15px;
}

.searchResult__info > p {
  font-size: 9px;
}

.searchResult--active {
  background-color: lightcyan;
}

.searchResult--active > .searchResult__info > h2 {
  color: teal;
}

.searchResult:hover {
  background-color: lightcyan;
}
